@media screen and (min-width: 1024px){
.first-section {
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  justify-content: space-between;
}

.middle-section {
  width: 915px; 
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-splash{
  width: 300px;
}

.title {
  font-family: 'Mulish';
  font-size: 40px;
  font-weight: bolder;
  margin-top: 100px;
  line-height: 24px;
  word-spacing: 4px;
}

.title {
  margin-left: 125px;
  width: 710px;
}

.location {
  margin-top: 50px;
  margin-left: 95px;
  display: flex;
}

.location span {
  color: rgb(255, 166, 0);
}

.location {
  font-size: 18px;
}

.location img {
  margin-right: 5px;
}

.service {
  margin-left: 100px;
  margin-top: 25px;
  width: 735px;
}

.right-splash {
 width: 300px;
}
  
}
