@media screen and (min-width: 1408px){
.order-title {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Mulish';
  justify-content: center;
  margin-top: 90px;
  font-family: 'Mulish';
  
}

.orders {
  display: flex;
  flex-direction: row;
  border: solid;
  border-width: 1px;
  width: auto;
  padding: 20px 10px 10px 10px;
  border-color: rgb(216, 216, 216);
  margin: 50px 12px;
}

.order-list {
  font-family: 'Mulish';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin-bottom: 3px;
  font-size: 17px;
  color: gray;
}

.order-history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.no_pic_logo {
  width: 75px;
}

.orders-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.orders button { 
  width: 130px;
  font-size: 13px;
  padding: 10px 0px;
  margin-top: 30px;
  color: white;
  background-color: rgb(11, 172, 108);
  border: none;
  font-weight: bold;
  font-family: 'Mulish';
}

.restaurant {
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Mulish';
}

.Total {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 390px;
  font-size: 15.5px;
  font-weight: bold;
  font-family: 'Mulish';
}
}


@media screen and (min-width: 1024px) and (max-width: 1410px){
  .order-title {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Mulish';
    justify-content: center;
    margin-top: 90px;
    font-family: 'Mulish';
    
  }
  
  .orders {
    display: flex;
    flex-direction: row;
    border: solid;
    border-width: 1px;
    width: auto;
    padding: 20px 10px 10px 10px;
    border-color: rgb(216, 216, 216);
    margin: 50px 12px;
  }
  
  .order-list {
    font-family: 'Mulish';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 3px;
    font-size: 12px;
    color: gray;
  }
  
  .order-history {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
  .no_pic_logo {
    width: 75px;
  }
  
  .orders-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .orders button { 
    width: 130px;
    font-size: 13px;
    padding: 10px 0px;
    margin-top: 30px;
    color: white;
    background-color: rgb(11, 172, 108);
    border: none;
    font-weight: bold;
    font-family: 'Mulish';
  }
  
  .restaurant {
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Mulish';
  }
  
  .Total {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    font-size: 15.5px;
    font-weight: bold;
    font-family: 'Mulish';
  }
}

@media screen and (min-width: 730px) and (max-width: 1030px){
  .order-title {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Mulish';
    justify-content: center;
    margin-top: 90px;
    font-family: 'Mulish';
    
  }
  
  .orders {
    display: flex;
    flex-direction: row;
    border: solid;
    border-width: 1px;
    width: auto;
    padding: 20px 10px 10px 10px;
    border-color: rgb(216, 216, 216);
    margin: 10px 12px;
  }
  
  .order-list {
    font-family: 'Mulish';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 3px;
    font-size: 12px;
    color: gray;
  }
  
  .order-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .no_pic_logo {
    width: 75px;
  }
  
  .orders-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .orders button { 
    width: 130px;
    font-size: 13px;
    padding: 10px 0px;
    margin-top: 30px;
    color: white;
    background-color: rgb(11, 172, 108);
    border: none;
    font-weight: bold;
    font-family: 'Mulish';
  }
  
  .restaurant {
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Mulish';
  }
  
  .Total {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    font-size: 15.5px;
    font-weight: bold;
    font-family: 'Mulish';
  }
}

@media screen and (max-width: 730px){
  .order-title {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Mulish';
    justify-content: center;
    margin-top: 90px;
    font-family: 'Mulish';
    
  }
  
  .orders {
    display: flex;
    flex-direction: row;
    border: solid;
    border-width: 1px;
    width: auto;
    padding: 20px 10px 10px 10px;
    border-color: rgb(216, 216, 216);
    margin: 10px 12px;
  }
  
  .order-list {
    font-family: 'Mulish';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 3px;
    font-size: 12px;
    color: gray;
  }
  
  .order-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .no_pic_logo {
    width: 75px;
  }
  
  .orders-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .orders button { 
    width: 130px;
    font-size: 13px;
    padding: 10px 0px;
    margin-top: 30px;
    color: white;
    background-color: rgb(11, 172, 108);
    border: none;
    font-weight: bold;
    font-family: 'Mulish';
  }
  
  .restaurant {
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Mulish';
  }
  
  .Total {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    font-size: 15.5px;
    font-weight: bold;
    font-family: 'Mulish';
  }
}
